var gMapObj = gMapObj || {} ;
jQuery(function(){
var marker = null;
var latlng = new google.maps.LatLng(23.7979, 90.3694);
var myOptions = {
zoom: 10,
center: latlng,
mapTypeId: google.maps.MapTypeId.ROADMAP
};
var map = new google.maps.Map(document.getElementById("hotel_latitude_longitude_container"), myOptions);
gMapObj = map;
marker = new google.maps.Marker({
position: new google.maps.LatLng(23.7979,90.3694),
map: map
});
google.maps.event.addListener(map, 'click', function(e) {
updateLocation(e.latLng);
});
function updateLocation(location) {
if(marker) {
marker.setPosition(location);
} else {
marker = new google.maps.Marker({
position: location,
map: map
});
}
map.setCenter(location);
jQuery("#hotel_latitude").val(location.lat());
jQuery("#hotel_longitude").val(location.lng());
}
}); 